MakeCom/blueprint_v1.json
{
    "name": "Backend ConsultoriaNegocios (Clean)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebhook",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Webhook (Receber Dados)"
                },
                "restore": {}
            }
        },
        {
            "id": 2,
            "module": "datastore:GetRecords",
            "version": 1,
            "parameters": {},
            "mapper": {
                "filter": {
                    "conversationId": "{{1.conversationId}}"
                },
                "sort": "timestamp",
                "desc": false,
                "limit": 10
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Ler Histórico"
                },
                "restore": {
                    "expect": {
                        "store": {
                            "label": "Select Data Store"
                        }
                    }
                }
            }
        },
        {
            "id": 3,
            "module": "google-generative-ai:generate-content",
            "version": 1,
            "parameters": {
                "model": "gemini-pro"
            },
            "mapper": {
                "prompt": "Atue como um Consultor de Negócios Sênior. \nHistórico:\n{{2}}\n\nUsuário:\n{{1.message}}",
                "temperature": 0.7
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "IA Consultor"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "Generate Content"
                        }
                    }
                }
            }
        },
        {
            "id": 4,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {},
            "mapper": {
                "conversationId": "{{if(1.conversationId; 1.conversationId; uuid())}}",
                "userId": "{{1.userId}}",
                "role": "user",
                "message": "{{1.message}}",
                "timestamp": "{{now}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Salvar Msg User"
                },
                "restore": {
                    "expect": {
                        "store": {
                            "label": "Select Data Store"
                        }
                    }
                }
            }
        },
        {
            "id": 5,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {},
            "mapper": {
                "conversationId": "{{4.conversationId}}",
                "userId": "{{1.userId}}",
                "role": "model",
                "message": "{{3.text}}",
                "timestamp": "{{now}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Salvar Msg IA"
                },
                "restore": {
                    "expect": {
                        "store": {
                            "label": "Select Data Store"
                        }
                    }
                }
            }
        },
        {
            "id": 6,
            "module": "gateway:WebhookResponse",
            "version": 1,
            "parameters": {
                "status": 200,
                "headers": [
                    {
                        "key": "Access-Control-Allow-Origin",
                        "value": "*"
                    },
                    {
                        "key": "Access-Control-Allow-Methods",
                        "value": "POST, OPTIONS"
                    },
                    {
                        "key": "Access-Control-Allow-Headers",
                        "value": "Content-Type"
                    }
                ]
            },
            "mapper": {
                "body": "{\"response\": \"{{3.text}}\", \"conversationId\": \"{{4.conversationId}}\"}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Resposta Final"
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orthogonals": false
        },
        "zone": "us1.make.com"
    }
}
